h1 {
  color: #777777;
  text-align: center;
}

.container {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(2,1fr);
  margin: auto;
  max-width: 900px;
  padding: 2em;
  width: 80%;
}

.container > .inputBox {
  width: 100%;
}

.container > .inputBox > label {
  width: 100%;
}

.container > .inputBox > input {
  width: 100%;
}

.section {
  margin: auto;
  padding: 2em 2em 0 2em;
  width: 80%;
}

.section h3 {
  color: #777777;
  font-size: 1.5em;
  text-align: center;
}

.button-container {
  margin: auto;
  padding: 2em;
  text-align: center;
  width: 80%;
}

.button {
  cursor: pointer;
  margin: 0 1em;
  padding: 0.5em 1em;
  text-transform: uppercase;
}